body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    margin: 10px 0;
    padding: 10px 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#recordingStatus {
    margin-top: 20px;
    font-weight: bold;
}

#audioPlayer {
    width: 100%;
    margin-top: 20px;
}

.translation-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#translatedText {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}
